@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in Pray Times API</h1>
    <h2>How use The API</h2>
    <p>
        go to url   <a>http://localhost:19755/api?</a><br>and set value of lng and lat and tz and dt.<br>
        lng = longitude = خط الطول
        <br>
        lat = latitude = خط العرض
        <br>
        tz = time zone = المنطقة الزمنية
        <br>
        dt = data time = التاريخ
    </p>
</div>
